:root{
    /*FontStyles*/
    --regular: 'Roboto';
    --formal: 'Open Sans';
    /*FontSize*/
    --normal: 16px;
    --medium: 18px;
    --large: 20px;
    --icon: 36px;
    --title: 42px;
    /*Padding*/
    --LPad: 0.5%;
    --MPad: 1%;
    --HPad: 2%;
    /*Colors*/
    --light: rgba(238,239,240,1);
    --grey: rgba(220,222,225,1);
    --mint: rgba(207,214,211,1);
    --trout: rgba(74,81,83,0.5);
    --coal: rgba(58,58,58,1);
    /*Gradients*/
    --coaltrout: linear-gradient(to bottom, var(--coal) 0%, 85%, var(--trout) 90%, 95%, var(--coal) 100%);
    --troutcoal: linear-gradient(to bottom, var(--coal) 0%, 5%, var(--trout) 10%, 15%, var(--coal) 100%);;
    --lightmint: linear-gradient(to left bottom, var(--light) 0%, var(--mint) 100%);
}
/*Main*/
html,body{
    padding: 0;
    margin: 0;
    font-family: var(--regular), sans-serif;
    font-size: var(--normal);
    font-weight: normal;
    text-align: left;
    color: var(--coal);
} html{
    background: var(--coal);
} body{
    background: border-box center/calc(100% - var(--normal)) var(--lightmint) no-repeat;
    height: 100vh;
} header{
    padding: var(--LPad) var(--HPad);
    background-color: var(--light);
    box-shadow: 0 1px var(--large) var(--lightmint);
} footer{
    position: fixed;
    width: 100%;
    padding: 0;
    bottom: 0;
} main{
    display: flex;
    padding: var(--LPad) var(--HPad);
    background: border-box center/calc(100% - var(--large)) var(--troutcoal) no-repeat;
    box-shadow: 0 1px var(--large) var(--troutcoal);
}
/*Headers*/
h1,h2,h3{
    font-family: var(--formal), sans-serif;
    padding: 0;
    margin: 0;
} h1{
    font-size: var(--title);
} h2{
    font-size: var(--large);
} h3{
    font-size: var(--medium);
}
/*Nav*/
label input[type=radio]{
    display: none;
} label{
    padding: var(--LPad) var(--HPad);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
} label::before{
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} label::after{ 
    content: attr(title);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
} label:hover, label:focus {
    border-color: var(--mint);
} label[class*='far']{
    border-color: var(--trout);
} nav {
    display: flex;
    font-size: var(--large);
    text-align: center;
    justify-content: space-around;
} iframe{
    display: none;
}