:root{
    /*FontStyles*/
    --regular: 'Roboto';
    --formal: 'Open Sans';
    /*FontSize*/
    --normal: 16px;
    --medium: 18px;
    --large: 20px;
    --icon: 36px;
    --title: 42px;
    /*Padding*/
    --LPad: 20px;
    --MPad: 25px;
    --HPad: 30px;
    /*Colors*/
    --light: rgba(238,239,240,1);
    --grey: rgba(220,222,225,1);
    --mint: rgba(207,214,211,1);
    --trout: rgba(74,81,83,1);
    --coal: rgba(58,58,58,1);
    --dust: rgba(58,58,58,0.75);
    /*Gradients*/
    --troutcoal: linear-gradient(to bottom, var(--coal) 0%, 5%, var(--trout) 10%, 15%, var(--coal) 100%);
    --lightmint: linear-gradient(to left bottom, var(--light) 0%, var(--mint) 100%);
}
/*Main*/
html,body{
    outline: none;
    padding: 0;
    margin: 0;
    font-family: var(--regular), sans-serif;
    font-size: var(--normal);
    font-weight: normal;
    text-align: left;
    color: var(--coal);
} html{
    display: flex;
    flex-direction: column;
    background: var(--coal);
    height: 100%;
} body{
    display: flex;
    flex-direction: column;
    background: border-box center/calc(100% - var(--normal)) var(--lightmint) no-repeat;
    flex: 1;
} header{
    padding: var(--LPad) var(--HPad);
    background-color: var(--grey);
    box-shadow: 0 1px var(--large) var(--lightmint);
} footer{
    display: flex;
    width: 100%;
} main{
    display: flex;
    flex-direction: column;
    flex: 1;
} section{
    margin: calc(var(--LPad)/2);
    padding: calc(var(--LPad) / 2) var(--MPad);
    box-shadow: 0 calc(var(--normal) / 4) var(--icon) var(--troutcoal);
}
/*Headers*/
h1,h2,h3{
    font-family: var(--formal), sans-serif;
    color: var(--trout);
    padding: 0;
    margin: 0;
} h1{
    font-size: var(--title);
} h2{
    font-size: var(--large);
} h3{
    font-size: var(--medium);
}
/*Nav*/
label input[type=radio]{
    display: none;
} label{
    padding: var(--LPad) calc(var(--LPad) / 2);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
    transition: background-color 0.5s ease;
} label::before{
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} label::after{ 
    content: attr(title);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
    text-transform: uppercase;
} label:hover, label:focus {
    border-color: var(--mint);
} label[class*='far'], details[title=footer][open]{
    border-color: var(--trout);
    background-color: var(--light);
} nav {
    display: flex;
    font-size: var(--large);
    text-align: center;
    justify-content: space-around;
} iframe{
    display: none;
}
/*Footer*/
details[title=footer]{
    align-self: flex-end;
    flex: 1;
    margin: 0 calc(var(--normal) / 2);
    padding: var(--LPad);
    border-top: calc(var(--normal) / 4) transparent solid;
    transition: background-color 0.5s ease;
    cursor: pointer;
} summary{
    display: block;
    font-size: var(--medium);
    list-style-type: none;
} details summary::-webkit-details-marker{
    display: none;
}
/*Content*/
details[title=lightbox]{
    display: none;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    background: border-box center/calc(100% - var(--normal)) var(--lightmint) no-repeat;
    opacity:0;
    transition: opacity 0.5s ease;
} details[title=lightbox][open]{
    position: absolute;
    display: inherit;
    z-index: 9;
    opacity: 1;
} details[title=lightbox] > summary{
    display: none;
    text-align: center;
    padding: var(--LPad) calc(var(--LPad) / 2);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
} details[title=lightbox] > summary::before{
    color: var(--coal);
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} details[title=lightbox] > summary::after{ 
    content: attr(title);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
    text-transform: uppercase;
} details[title=lightbox] > summary:hover, details[title=lightbox] > summary:focus{
    border-color: var(--trout);
} details[title=lightbox][open] > summary{
    display: block;
} section[title=grid] > h2{
    cursor: pointer;
    flex: 1;
    padding: var(--HPad);
    background-color: var(--light);
    margin: 0 0 var(--LPad) var(--LPad);
    margin-left: 0;
    border: calc(var(--normal) / 4) transparent solid;
    transition: border-color 0.5s ease;
} section[title=grid] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: var(--trout) double;
    border-width: var(--normal) 0 0 var(--normal);
    border-top-left-radius: var(--large);
} section[title=grid] > h2:hover, section[title='grid'] > h2:focus{
    border-color: var(--trout);
} section[title=content]{
    border: var(--trout) double;
    border-width: var(--normal) 0 0 var(--normal);
    border-top-left-radius: var(--large);
    overflow: visible;
}