:root{
    /*FontStyles*/
    --regular: 'Roboto';
    --formal: 'Open Sans';
    /*FontSize*/
    --normal: calc(0.6vw + 14px);
    --medium: calc(0.6vw + 16px);
    --large: calc(0.6vw + 18px);
    --icon: calc(0.6vw + 28px);
    --title: calc(0.6vw + 24px);
    --panel: calc(20% - calc(var(--normal) / 4));
    /*Padding*/
    --LPad: calc(0.6vw + 18px);
    --MPad: calc(0.6vw + 22px);
    --HPad: calc(0.6vw + 26px);
    --PPad: calc(var(--normal) / 2);
    /*Colors*/
    --light: rgba(238,239,240,1);
    --grey: rgba(220,222,225,1);
    --mint: rgba(207,214,211,1);
    --trout: rgba(74,81,83,1);
    --coal: rgba(58,58,58,1);
    --dust: rgba(58,58,58,0.15);
    --thinmint: rgba(207,214,211,0.65);
    /*Gradients*/
    --lightmint: linear-gradient(to left bottom, var(--light) 0%, var(--mint) 100%);
    --coaltrout: linear-gradient(to bottom, var(--coal) 0%,var(--trout) 1%,var(--trout) 99%,var(--coal) 100%);
    /*Box Shadows*/
    --shadow: calc(var(--normal) / 4) calc(var(--medium)  / 4) calc(var(--icon)  / 2) calc(var(--large) / 2) var(--dust);
    --box: calc(var(--large) / 4) calc(var(--large) / 4) calc(var(--icon)  / 4) calc(var(--large) / 4) var(--dust);
    /*Panels*/
    --panels: border-box var(--PPad)/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(5% + var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(10% + 2 * var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(15% + 3 * var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(20% + 4 * var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat;
}
/*Main*/
html,body{
    padding: 0;
    margin: 0;
    font-family: var(--regular), sans-serif;
    font-size: var(--normal);
    color: var(--coal);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} html{
    display: flex;
    flex-direction: column;
    background: var(--coal);
    min-height: 100vh;
} body{
    display: flex;
    flex-direction: column;
    background: border-box center/calc(100% - var(--normal)) 100% var(--lightmint) no-repeat;
    flex: 1;
} header{
    padding: var(--LPad) var(--HPad);
    background-color: var(--grey);
    box-shadow: var(--shadow);
} main{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background: var(--panels);
    padding-bottom: calc(2 * var(--HPad));
} section{
    padding: var(--HPad);
}
/*Headers*/
h1,h2,h3,th,summary{
    font-family: var(--formal), sans-serif;
    color: var(--trout);
    padding: 0;
    margin: 0;
} h1{
    font-size: var(--title);
} h2{
    font-size: var(--large);
} h3,th,summary{
    font-size: var(--medium);
} p{
    padding: var(--HPad);
    background-color: var(--light);
    box-shadow: var(--box);
    margin: calc(var(--normal) / 4);
}
/*Nav*/
label input[type=radio]{
    display: none;
} label{
    flex: 1;
    padding: var(--LPad) calc(var(--LPad) / 2);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
    transition: background-color 0.5s ease;
} label::before{
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} label::after{ 
    content: attr(id);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
    text-transform: uppercase;
} label:hover, label:focus {
    border-color: var(--mint);
} label[class*='far'], details[id=footer][open]{
    border-color: var(--trout);
    background-color: var(--light);
} nav {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    font-size: var(--large);
    text-align: center;
    justify-content: space-around;
    margin: 0 calc(var(--normal) / 2);
} iframe, #data, #pages{
    display: none;
}
/*Footer*/
details[id=footer]{
    margin: 0 calc(var(--normal) / 2);
    padding: var(--LPad);
    border-top: calc(var(--normal) / 4) transparent solid;
    transition: background-color 0.5s ease;
    cursor: pointer;
} summary{
    list-style-type: none;
} details summary::-webkit-details-marker{
    display: none;
}
/*Content*/
details[id=lightbox]{
    display: none;
    min-height: 100vh;
    opacity:0;
    background: inherit;
    transition: opacity 0.5s ease;
} details[id=lightbox][open]{
    display: flex;
    opacity: 1;
} details[id=lightbox] > div[id=content]{
    display: flex;
    flex-direction: column;
} details[id=lightbox] > summary{
    display: none;
    text-align: center;
    padding: var(--LPad) calc(var(--LPad) / 2);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
} details[id=lightbox] > summary::before{
    color: var(--coal);
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} details[id=lightbox] > summary::after{ 
    content: attr(id);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
    text-transform: uppercase;
} details[id=lightbox] > summary:hover, details[id=lightbox] > summary:focus{
    border-color: var(--trout);
} details[id=lightbox][open] > summary{
    display: block;
} section[id=grid] > h2{
    cursor: pointer;
    flex: 1;
    padding: var(--HPad);
    background-color: var(--light);
    box-shadow: var(--box);
    margin: calc(var(--normal) / 4);
    border: calc(var(--normal) / 4) transparent solid;
    text-align: center;
    transition: border-color 0.5s ease;
} section[id=grid] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} section[id=grid] > h2:hover, section[id='grid'] > h2:focus{
    border-color: var(--trout);
} section[id=content]{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: calc(2 * var(--HPad));
    background: var(--panels);
}
/*Tables*/
table{
    width: 100%;
    border-spacing: calc(var(--normal) / 2);
    padding: calc(var(--LPad) / 2);
    background: border-box center/calc(100% - var(--normal)) var(--lightmint) no-repeat;
    box-shadow: var(--box);
} thead{
    background-color: var(--grey);
} th {
    padding: var(--LPad) var(--HPad);
} th:not(:last-child) {
    border-right: calc(var(--normal) / 4) var(--trout) solid;
} td {
    padding: var(--LPad);
} tbody > tr:nth-child(even){
    background-color: var(--dust);
} tbody > tr:nth-child(odd){
    background-color: var(--thinmint);
}
/*Articles*/
section[id=content] > article{
    flex: 1 0 45%;
    padding: var(--HPad);
    background-color: var(--light);
    box-shadow: var(--box);
    margin: calc(var(--normal) / 4);
} article > ul {
    list-style: none;
    padding: 0;
}
/*Projects*/
section[id=content] img {
    width: 100%;
}
/*Fix*/
@media (hover: none){ 
    section[id=content]{
        flex-direction: column;
        flex-wrap: unset;
    }
}