/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../FONTS/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(../FONTS/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root{
    /*FontStyles*/
    --regular: 'Roboto';
    --formal: 'Open Sans';
    /*FontSize*/
    --normal: 16px;
    --medium: 18px;
    --large: 20px;
    --icon: 36px;
    --title: 42px;
    --panel: calc(20% - 4px);
    /*Padding*/
    --LPad: 20px;
    --MPad: 25px;
    --HPad: 30px;
    --PPad: calc(var(--normal) / 2);
    /*Colors*/
    --light: rgba(238,239,240,1);
    --grey: rgba(220,222,225,1);
    --mint: rgba(207,214,211,1);
    --trout: rgba(74,81,83,1);
    --coal: rgba(58,58,58,1);
    --dust: rgba(58,58,58,0.15);
    --thinmint: rgba(207,214,211,0.65);
    /*Gradients*/
    --lightmint: linear-gradient(to left bottom, var(--light) 0%, var(--mint) 100%);
    --coaltrout: linear-gradient(to bottom, var(--coal) 0%,var(--trout) 1%,var(--trout) 99%,var(--coal) 100%);
    /*Box Shadows*/
    --shadow: calc(var(--normal) / 4) calc(var(--medium)  / 4) calc(var(--icon)  / 2) calc(var(--large) / 2) var(--dust);
    --box: calc(var(--large) / 4) calc(var(--large) / 4) calc(var(--icon)  / 4) calc(var(--large) / 4) var(--dust);
    /*Panels*/
    --panels: border-box var(--PPad)/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(5% + var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(10% + 2 * var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(15% + 3 * var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat,
    calc(20% + 4 * var(--panel) + var(--PPad))/var(--panel) 100% var(--coaltrout) no-repeat;
}
/*Main*/
html,body{
    outline: none;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: var(--regular), sans-serif;
    font-size: var(--normal);
    font-weight: normal;
    text-align: left;
    color: var(--coal);
} html{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: var(--coal);
} body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: border-box center/calc(100% - var(--normal)) 100% var(--lightmint) no-repeat;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
} header{
    padding: var(--LPad) var(--HPad);
    background-color: var(--grey);
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
} main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background: var(--panels);
    padding-bottom: calc(2 * var(--HPad));
} section{
    margin: calc(var(--LPad)/2);
    padding: calc(var(--LPad) / 2) var(--MPad);
}
/*Headers*/
h1,h2,h3,th{
    font-family: var(--formal), sans-serif;
    color: var(--trout);
    padding: 0;
    margin: 0;
} h1{
    font-size: var(--title);
} h2{
    font-size: var(--large);
} h3,th{
    font-size: var(--medium);
} p{
    padding: var(--HPad);
    background-color: var(--light);
    -webkit-box-shadow: var(--box);
            box-shadow: var(--box);
    margin: calc(var(--normal) / 4);
}
/*Nav*/
label input[type=radio]{
    display: none;
} label{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: var(--LPad) calc(var(--LPad) / 2);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
} label::before{
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} label::after{ 
    content: attr(id);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
    text-transform: uppercase;
} label:hover, label:focus {
    border-color: var(--mint);
} label[class*='far'], details[id=footer][open]{
    border-color: var(--trout);
    background-color: var(--light);
} nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: var(--large);
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 calc(var(--normal) / 2);
} iframe, #data, #pages{
    display: none;
}
/*Footer*/
details[id=footer]{
    margin: 0 calc(var(--normal) / 2);
    padding: var(--LPad);
    border-top: calc(var(--normal) / 4) transparent solid;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    cursor: pointer;
} summary{
    font-size: var(--medium);
    list-style-type: none;
} details summary::-webkit-details-marker{
    display: none;
}
/*Content*/
details[id=lightbox]{
    display: none;
    opacity:0;
    background: inherit;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
} details[id=lightbox][open]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
} details[id=lightbox] > summary{
    display: none;
    text-align: center;
    padding: var(--LPad) calc(var(--LPad) / 2);
    border-top: calc(var(--normal) / 4) transparent solid;
    cursor: pointer;
} details[id=lightbox] > summary::before{
    color: var(--coal);
    font-size: var(--icon);
    padding: var(--LPad) var(--HPad);
} details[id=lightbox] > summary::after{ 
    content: attr(id);
    display: block;
    font-size: var(--medium);
    line-height: calc(var(--normal) * 1.6);
    text-transform: uppercase;
} details[id=lightbox] > summary:hover, details[id=lightbox] > summary:focus{
    border-color: var(--trout);
} details[id=lightbox][open] > summary{
    display: block;
} section[id=grid] > h2{
    cursor: pointer;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: var(--HPad);
    background-color: var(--light);
    -webkit-box-shadow: var(--box);
            box-shadow: var(--box);
    margin: calc(var(--normal) / 4);
    border: calc(var(--normal) / 4) transparent solid;
    text-align: center;
    -webkit-transition: border-color 0.5s ease;
    -o-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
} section[id=grid] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
} section[id=grid] > h2:hover, section[id='grid'] > h2:focus{
    border-color: var(--trout);
} section[id=content]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: calc(2 * var(--HPad));
}
/*Tables*/
table{
    width: 100%;
    border-spacing: calc(var(--normal) / 2);
    background: border-box center/calc(100% - var(--normal)) var(--lightmint) no-repeat;
    -webkit-box-shadow: var(--box);
            box-shadow: var(--box);
} thead{
    background-color: var(--grey);
} th {
    padding: var(--LPad) var(--HPad);
} th:not(:last-child) {
    border-right: calc(var(--normal) / 4) var(--trout) solid;
} td {
    padding: var(--LPad);
} tbody > tr:nth-child(even){
    background-color: var(--dust);
} tbody > tr:nth-child(odd){
    background-color: var(--thinmint);
}
/*Articles*/
section[id=content] > article{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
    padding: var(--HPad);
    background-color: var(--light);
    -webkit-box-shadow: var(--box);
            box-shadow: var(--box);
    margin: calc(var(--normal) / 4);
} article > ul {
    list-style: none;
    padding: 0;
}
/*Projects*/
section[id=content] img {
    width: 100%;
}
/*Fix*/
@media (pointer:none), (pointer:coarse) { 
    section[id=content]{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}