# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "modification plus 1 day"
    ExpiresByType text/css "access plus 1 minute"
    ExpiresByType text/plain "access plus 1 minute"
    ExpiresByType image/png "access plus 10 minutes"
    ExpiresByType application/javascript "access plus 1 minute"
</IfModule>
# END EXPIRES