 /*Navigation*/
.gn-menu-main {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	overflow-y: hidden;
}
.gn-menu-main a {
	display: block;
	color: #140152;
	text-decoration: none;
	cursor: pointer;
}
.gn-menu-main a:hover, .gn-menu-main a:active {
	background-color: #140152;
	color: #fff;
}
.gn-menu-main > li {
	display: block;
	float: left;
	border-right: 1px solid #140152;
}
.gn-menu-main > li:nth-child(2) {
	border-right: 0;
}
.gn-title {
	padding: 0 30px;
	margin: 0;
	letter-spacing: 1px;
}
.gn-menu-main > li > a, .gn-menu-main > li > abbr > a {
	padding: 0 30px;
	letter-spacing: 1px;
}
.gn-menu-main > li :after {
	display: table;
	clear: both;
	content: '';
}
.gn-menu-main li.gn-trigger {
	position: relative;
	width: 60px;
}
.gn-menu-main > li:last-child {
	float: right;
	border-right: none;
	border-left: 1px solid #140152;
}
.gn-menu-main,.gn-menu-main ul {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #140152;
	list-style: none;
	line-height: 60px;
}
.gn-menu-wrapper {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	margin-top: 1px;
	border-top: 1px solid #140152;
	background-color: #fff;
	transform: translateX(-60px);
	transition: transform 0.3s, width 0.1s;
}
.gn-scroller {
	position: absolute;
	width: 230px;
	height: 100%;
}
.gn-menu {
	border-bottom: 1px solid #140152;
	text-align: left;
	font-size: 1em;
	display: fixed;
}
.gn-menu li:not(:first-child),.gn-menu li li {
	box-shadow: inset 0 1px #140152;
}
.gn-icon::before {
	display: inline-block;
	width: 60px;
	text-align: center;
	font-weight: normal;
	font-family: 'FontAwesome';
}
.gn-icon-book::before {
	content: "\f02d";
}
.gn-icon-reader::before {
	content: "\f187";
}
.gn-icon-pictures::before {
	content: "\f03e";
}
.gn-icon-videos::before {
	content: "\f03d";
}
.gn-icon-top::before {
	content: "\f062"
}
.gn-icon span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}
.gn-icon-menu::before {
	margin-left: -30px;
	content: '\f03a';
}
.gn-icon-menu:hover::before, .gn-icon-menu.gn-selected:hover::before, .gn-icon-menu:active::before, .gn-icon-menu.gn-selected:active::before {
	margin-left: -30px;
	content: '\f03a';
}
.gn-menu-wrapper.gn-open-all, .gn-menu-wrapper.gn-open-part {
	transform: translateX(0px);
	
}
.gn-menu-wrapper.gn-open-all {
	width: 230px;
}
@media (max-width: 21em) {
	.goTop {
		display: none !important;
	}
}
/*Jumbotron*/
.container > header {
	margin: 0 auto;
	padding: 20% 0;
	padding-left: 25%;
	background-size: cover;
	color: #02010a;
}
.container > header h1 {
	font-size: 3em;
	margin: 0;
	font-weight: 500;
}
.container > header span {
	display: block;
	font-size: 50%;
	opacity: 0.75;
}
@media (max-width: 49.75em) {
	.container > header {
		padding-left: 5%;
	}
}
/*Pages*/
article > h1 {
	font-size: 3em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}
article{
	margin: 0 auto;
	padding: 1em 1em 230px 1em;
	background: #fff;
	border-top: 1px solid #140152;
	box-shadow: 0px -5px 5px 0px rgba(233,231,246,0.25);
	
}
article:last-child{
	border-bottom: 1px solid #140152;
	box-shadow: inset 0px -5px 5px 0px rgba(233,231,246,0.25), 0px -5px 5px 0px rgba(233,231,246,0.25);
}
/*Best Practices*/
@media (min-width: 69.8125em) {
	.tabs-nav-init .tabs-container__title,
	.tabs-nav-init .tabs-container__panel {
		display: none;
	}
	.tabs-container__panel[aria-hidden="false"] {
		display: block;
	}
	.tabs-navigation {
		overflow: hidden;
		position: relative;
		padding: 0;
		left: 0;
		box-shadow: inset 0 -1px #140152;
	}
	.tabs-navigation li {
		display: table-cell;
	}
	.tabs-navigation__button {
		position: relative;
		display: flex;
		text-decoration: none;
		cursor: pointer;
		padding: 1em;
		background: #fff;
		color: #140152;
		margin-left: 1px;
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
		border: 1px solid #140152;
		border-bottom: 0;
	}
	.tabs-navigation__button[aria-selected="true"] {
		color: #fff;
		background: #140152;
	}
}
@media (max-width: 69.75em) {
		.tabs-navigation, .tabs-init .tabs-container__panel, .tabs-init .accordion--closed .tabs-container__panel {
				display: none
		}
		.tabs-init {
				border-top: solid 1px #140152;
				margin-left: -1.5em;
				margin-right: -1.5em
		}
		.tabs-init .tabs-container__title {
				padding:1em 1.5em;
				cursor: pointer;
		}
		.accordion--closed .tabs-container__title,
		.tabs-init .tabs-container__title {
				background: #fff;
		color: #140152;
				border-bottom: solid 1px #140152;
		}
	.tabs-container__panel {
		padding: 0 1em;	
	}
		.tabs-container__panel[aria-hidden="false"] {
				display: block;
				border-bottom: solid 1px #140152;
		}
		.tabs-container__title[aria-selected="true"] {
				background: #140152;
				color: #fff;
				border-top: 2px solid #140152;
		}
		.tabs-container__panel.accordion--closed {
				border-bottom:none;
		}
}
.tabs-container__panel li {
	font-size: 1.25em;	
}
.tabs-container__panel li > ul > li {
	font-size: 0.95em;	
}
/*Pictures*/
.lightbox-container {
	overflow: hidden;
}
.lightbox-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}
.lightbox {
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	padding-top: calc(12%/3);
	left: 0;
	z-index: 20;
	box-sizing: border-box;
}
.lightbox img {
	display: block;
	margin: 0 auto;
	cursor: zoom-out;
	transition: all 0.2s ease;
}
.lightbox p {
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin: 0 auto;
}
/*Lightbox Caption*/
@media (max-width: 69.75em) {
	figure {
		flex-basis: 100%;
	}
}
@media (min-width: 69.75em) and (max-width: 89.75em) {
	figure {
		flex-basis: calc(100%/3);
	}
}
@media (min-width: 89.8125em) and (max-width: 129.75em) {
	figure {
		flex-basis: calc(100%/4);
	}
}
@media (min-width: 129.8125em) {
	figure {
		flex-basis: calc(100%/5);
	}
}
figure {
	position: relative;
	margin: 0.25em;
	background: rgba(233,231,246,0.5);
}
figure * {
	box-sizing: border-box;
	transition: all 0.4s ease-in;
}
figure figcaption {
	z-index: 1;
	opacity: 0;
}
figure figcaption:before,
figure figcaption:after {
	background:#140152;
	width: 1px;
	height: 0;
}
figure figcaption:before {
	right: 0;
	top: 0;
}
figure figcaption:after {
	left: 0;
	bottom: 0;
}
figure img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease;
	cursor: zoom-in;
}
figcaption > h1 {
	position: absolute;
	width: 100%;
	margin: 0;
	top: 1em;
	text-align: center;
}
figure a {
	position: absolute;
	margin: 0 auto;
	left: 1em;
	bottom: 0;
	z-index: 1;
	color: #000;
	padding: 0.25em;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease;
	text-align: center;
}
figure a > h1:hover, figure a > h1:active {
	color: #2980b9;
}
figure:before,
figure:after,
figure figcaption:before,
figure figcaption:after {
	position: absolute;
	content: '';
	z-index: 1;
	transition: all 0.4s ease-in;
}
figure:before,
figure:after {
	height: 1px;
	width: 0%;
	background: #140152;
}
figure:before {
	top: 0;
	left: 0;
}
figure:after {
	bottom: 0;
	right: 0;
}
figure:hover img, figure:active img,
figure.hover img {
	
	opacity: 0.5;
}
figure:hover figcaption, figure:active figcaption,
figure.hover figcaption {
	opacity: 1;
}
figure:hover figcaption:before, figure:active figcaption:before,
figure.hover figcaption:before,
figure:hover figcaption:after, figure:active figcaption:after,
figure.hover figcaption:after {
	height: 100%;
}
figure:hover:before, figure:active:before,
figure.hover:before,
figure:hover:after, figure:active:after,
figure.hover:after {
	width: 100%;
}
figure:hover:before, figure:active:before,
figure.hover:before,
figure:hover:after, figure:active:after,
figure.hover:after,
figure:hover figcaption:before, figure:active figcaption:before,
figure.hover figcaption:before,
figure:hover figcaption:after, figure:active figcaption:after,
figure.hover figcaption:after {
	opacity: 0.1;
}
/*Sample Cases*/
.wrapper {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}
.card {
	background-color: #fff;
	margin-right: 1em;
}
@media (max-width: 69.75em) {
	.card {
		flex-basis: 100%;
	}
}
@media (min-width: 69.75em) and (max-width: 89.75em) {
	.card {
		flex-basis: calc((100%/2) - 1em);
	}
}
@media (min-width: 89.8125em) {
	.card {
		flex-basis: calc((100%/3) - 1em);
	}
}
.card__image {
	min-height: 100px;
}
.card__article {
	box-shadow: none !important;
	padding: 0;
	padding-bottom: 1em;
	border: 0 !important;
}
.card__image img {
	width: 100%;
	display: block;
}
.card__content {
	position: relative;
}
.card__meta {
	padding-top: 0.25em;
}
.card__meta time {
	font-style: italic;
}
.card a {
	color: #02010a;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease;
}
.card a:hover, .card a:active {
	color: #2980b9;
}
.card__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}
.card__author img,
.card__author-content {
	display: inline-block;
	vertical-align: middle;
}
.card__author img{
	border-radius: 50%;
	margin-right: 0.6em;
}
/*Videos*/
.youtube_videos{
	margin: 0 auto;
	padding: 0;
	display: block;
	justify-content: left;
	list-style: none;
}
.youtube_videos li {
	display:inline-block;
	margin-right: 1px;	
	margin-bottom: 1em;
}
.youtube,.thumb{
	width: 380px;
	height: 250px;
	cursor: pointer;
	position: relative;
	box-shadow: 0 0.5px 2px #140152;
}
.thumb,.youtube_video{
	width: 380px;
	height: 250px;
	border: 0;
	outline: 0;
}
.youtube:after{
	content: "PLAY THIS VIDEO";
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 250px;
	text-align: center;
	color: transparent;
	font-weight: bold;
	transition: all 0.4s ease;
}
.youtube:hover:after, .youtube:active:after{
	margin: 0 auto;
	left: 0;
	height: 2em;
	line-height: 2em;
	background: rgba(233,231,246,0.5);
	color: #140152;
}
/*General CSS*/
header {
	font-family: Helvetica, sans-serif;
}
h1,h2,h3,span,.gn-menu-main > li > a {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}
p {
	font-size: 1.25em;
}
abbr {
	text-decoration: none;
}
body {
	margin: 0;
	background: linear-gradient(
	 rgba(194,185,219,0.25), 
	 rgba(233,231,246,0.5)
	), url('.././Media/header.jpg') fixed;
	background-size: cover;
	font-family: Garamond, serif;
	font-size: 1em;
	color: #02010a;
}
html {
	overflow-x: hidden;
}